<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Has John Stocked the Fridge?</title>

        <link rel="stylesheet" type="text/css" href="../css/style.css"/>
    </head>

    <body>
        <div class="bg-1" id="master-panel">
            <div class="panel" id="status-panel"></div>
            <div class="panel" id="notify-panel"></div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="../js/script.js"></script>
    </body>
</html>
